<div class="form-group">
</div>
<div>
    <label for="name">Name</label>
    <input required type="text" name="name" id="name" class="form-control">
</div>
<div class="form-group">
    <label for="email">Email</label>
    <textarea required name="email" id="email" class="form-control"></textarea>
</div>
<div class="form-group">
    <label for="job">Role</label>
    <textarea required name="job" id="job" class="form-control"></textarea>
</div>
<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>